/* ITEM */


.recipeItem {
    background: var(--backgroundOfItem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 1rem;
    text-decoration: none;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.recipeItem__container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2rem 1rem;
}

.recipeItem__containerIcons {
    position: absolute;
    top: 0;
    right: 0;
}

.recipeItem__Icon {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    clip-path: circle(50%);
    margin: 0.5rem;
}

.recipeItem__itemTitle {
    font-size: 2rem;
    line-height: 2rem;
    font-family: 'Caveat', 'cursive';
    font-weight: bold;
    color: rgb(var(--accentDark));
    padding: 0 0 2rem 0;
}

.recipeItem__itemDate {
    font-size: 1rem;
    padding: 0 0 2rem 0;
    color: rgb(var(--dark));
}

.recipeItem__itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeItem__itemFigure {
    max-width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}

.recipeItem__itemImg {
    width: 15rem;
    height: 100%;
    object-fit: contain;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.recipeItem__itemDescContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipeItem__itemText {
    font-size: 1rem;
    padding: 0 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(var(--dark));
    white-space: pre-line;
}

.recipeItem__btn {
    position: absolute;
    top: 0;
    right: 45%;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: bold;
}



@media (min-width: 600px) {

    .recipeItem__itemTitle {
        font-size: 3rem;
        line-height: 3rem;
    }
    .recipeItem__itemImg {
        width: 20rem;
    }
    .recipeItem__container {
        padding: 2rem 2rem;
    }
}

@media (min-width: 800px) {

    .recipeItem__itemContainer {
        flex-direction: row;
        align-items: flex-start;
    }

    .recipeItem__itemFigure {
        margin-bottom: 0;
    }


    .recipeItem__itemText {
        padding: 0 0 0 2rem;
    }
}