/* ITEM */


.recipeItem {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    text-decoration: none;
}

.recipeItem__container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2rem;
}

.recipeItem__itemTitle {
    font-size: 2.5rem;
    font-family: 'Caveat', 'cursive';
    color: rgb(var(--accent));
    padding: 0 0 2rem 0;
}

.recipeItem__itemDate {
    font-size: 1rem;
    padding: 0 0 2rem 0;
}

.recipeItem__itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeItem__itemFigure {
    max-width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}

.recipeItem__itemImg {
    width: 10rem;
    height: 100%;
    object-fit: contain;
}

.recipeItem__itemDescContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipeItem__itemText {
    font-size: 1rem;
    padding: 0 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(var(--dark));
    white-space: pre-line;
}

.recipeItem__btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: bold;
}



@media (min-width: 500px) {

}

@media (min-width: 800px) {

    .recipeItem__itemContainer {
        flex-direction: row;
        align-items: flex-start;
    }

    .recipeItem__itemFigure {
        margin-bottom: 0;
    }

    .recipeItem__itemText {
        padding: 0 0 0 2rem;
    }
}