.background {
    background: white;
    color: black;
    padding: 8rem 0 4rem 0;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}