.background {
    background: var(--backgroundOfItem);
    color: black;
    padding: 8rem 0 4rem 0;
    min-height: calc(100vh - 3rem);
}

.about {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.about__headerFigure {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.about__headerImg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.about__text {
    font-size: 1rem;
    padding: 1rem;
}
.about__text::first-letter {
    font-size: 1.5rem;
    color: rgb(var(--accentDark));
    font-style: italic;


}

.about__text__header {
    padding-top: 4rem;
    font-style: italic;
    font-size: 1.5rem;
    color: rgb(var(--accentDark));
}

.about__text__center {
    text-align: center;
}

.about__text__quote {
    font-size: 1rem;
    padding: 1rem;
}