.background {
    background: var(--backgroundCustom);
    min-height: calc(100vh - 3rem);
    color: black;
    padding: 5rem 0 0 0;
    position: relative;
}

.home__btnAbsolute {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
}
.section__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__avocadoFigure {
    position: fixed;
    top: 50%;
    left: calc(50% - 500px - 8rem);
    transform: translate(-50%, -50%);
}

.home__avocadoImg {
    height: 20rem;
    width: 20rem;
}

.home__avocadoEyes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 4.5rem));
    display: flex;
}

.home__avocadoEye {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: block;
    background: white;
    margin: 0 0.5rem;
    border-radius: 50%;
}

.home__avocadoEye::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1rem;
    height: 1rem;
    background: black;
    border-radius: 50%;
}

.home__headerFigure {
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

.home__headerImg {
    width: 100%;
    object-fit: contain;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.itemsContainer {
    max-width: 1000px;
    margin: auto;
}
