.background {
    background: rgb(var(--dark));
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
}

.foot {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot__item {
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
}

.designedBy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textLeft {
    padding-right: 4px;
}

.textRight {
    padding-left: 4px;
}


.logo {
    height: 20px;
    width: 20px;
}

@media (min-width: 600px) {
    .foot {
        flex-direction: row;
    }
}